In [1]:
import numpy as np
import pandas as pd

In [2]:
within_no_tb_coef = np.load("/Users/zhengyuanrui/Decoding_SALT/Decode_SALT/3_Result/Valence012_pre/1_Logistic/2_Trials-Back/coef_no.npy")

In [9]:
cross_no2self_tb_coef = np.load("/Users/zhengyuanrui/Decoding_SALT/Decode_SALT/3_Result/Valence012_pre/1_Logistic/2_Trials-Back/coef_cross1.npy")

In [10]:
within_no_tb_coef.shape

(164, 3, 16)

In [11]:
subnum, modelid, coef_id = cross_no2self_tb_coef

ValueError: too many values to unpack (expected 3)

In [12]:
df_result = dict(subid = [], model = [], feature1 = [], feature2 = [], feature3 = [], feature4 = [], feature5 = [], feature6 = [], feature7 = [], feature8 = [], feature9 = [], feature10 = [], feature11=[], feature12 = [], feature13 = [], feature14 = [], feature15 = [], feature16 = [])


for i in range(subnum):
    df_result["subid"].append(i)
    df_result["subid"].append(i)
    df_result["subid"].append(i)
    one_sub = cross_no2self_tb_coef [i]
    for j in range(modelid):
        df_result['model'].append(j)
        onemodel = one_sub[j]
        df_result["feature1"].append(onemodel[0])
        df_result["feature2"].append(onemodel[1])
        df_result["feature3"].append(onemodel[2])
        df_result["feature4"].append(onemodel[3])
        df_result["feature5"].append(onemodel[4])
        df_result["feature6"].append(onemodel[5])
        df_result["feature7"].append(onemodel[6])
        df_result["feature8"].append(onemodel[7])
        df_result["feature9"].append(onemodel[8])
        df_result["feature10"].append(onemodel[9])
        df_result["feature11"].append(onemodel[10])
        df_result["feature12"].append(onemodel[11])
        df_result["feature13"].append(onemodel[12])
        df_result["feature14"].append(onemodel[13])
        df_result["feature15"].append(onemodel[14])
        df_result["feature16"].append(onemodel[15])

df = pd.DataFrame(df_result)
df

,subid,model,feature1,feature2,feature3,feature4,feature5,feature6,feature7,feature8,feature9,feature10,feature11,feature12,feature13,feature14,feature15,feature16
0,0,0,0.000328,0.000480,0.000433,0.000159,-0.000138,0.000065,0.002408,-0.000065,-0.000044,0.002466,-0.000035,-0.000119,0.002121,-0.000063,-0.000078,0.001955
1,0,1,-0.000238,-0.000073,-0.000094,-0.000152,0.000056,-0.000019,-0.000059,0.000046,-0.000036,0.000134,-0.000034,-0.000016,-0.000081,0.000077,-0.000025,0.000028
2,0,2,-0.000090,-0.000407,-0.000338,-0.000007,0.000081,-0.000045,-0.002349,0.000018,0.000080,-0.002601,0.000069,0.000135,-0.002040,-0.000014,0.000102,-0.001983
3,1,0,0.000328,0.000480,0.000433,0.000159,-0.000138,0.000065,0.002408,-0.000065,-0.000044,0.002466,-0.000035,-0.000119,0.002121,-0.000063,-0.000078,0.001955
4,1,1,-0.000238,-0.000073,-0.000094,-0.000152,0.000056,-0.000019,-0.000059,0.000046,-0.000036,0.000134,-0.000034,-0.000016,-0.000081,0.000077,-0.000025,0.000028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,162,1,-0.000238,-0.000073,-0.000094,-0.000152,0.000056,-0.000019,-0.000059,0.000046,-0.000036,0.000134,-0.000034,-0.000016,-0.000081,0.000077,-0.000025,0.000028
488,162,2,-0.000090,-0.000407,-0.000338,-0.000007,0.000081,-0.000045,-0.002349,0.000018,0.000080,-0.002601,0.000069,0.000135,-0.002040,-0.000014,0.000102,-0.001983
489,163,0,0.000328,0.000480,0.000433,0.000159,-0.000138,0.000065,0.002408,-0.000065,-0.000044,0.002466,-0.000035,-0.000119,0.002121,-0.000063,-0.000078,0.001955
490,163,1,-0.000238,-0.000073,-0.000094,-0.000152,0.000056,-0.000019,-0.000059,0.000046,-0.000036,0.000134,-0.000034,-0.000016,-0.000081,0.000077,-0.000025,0.000028
491,163,2,-0.000090,-0.000407,-0.000338,-0.000007,0.000081,-0.000045,-0.002349,0.000018,0.000080,-0.002601,0.000069,0.000135,-0.002040,-0.000014,0.000102,-0.001983